<header>
  <nav>
    <div class="leftNav">
      @if (isAdmin) {
      <a href="#menu" (click)="toggleDropdown($event)">
        <img id="menu" src="Menu.svg" alt="Menu del logo con dropdown">
      </a>
      }
      <div id="dropdownContent" class="dropdownContent" [class.show]="isDropdownVisible">
        <a href="#tecnicos">Técnicos</a>
        <a href="#historial">Historial</a>
      </div>
      <a href="#home">
        <img id="logo" src="Group 7.svg" alt="Logo de Luracare">
      </a>
    </div>
    <div class="rightNav">
      <img id="userProfile" src="User_Circle.svg" alt="Perfil de usuario">
    </div>
  </nav>
</header>