<header>
  <nav>
    <div class="leftNav">
      @if (isAdmin) {
      <a href="#menu" (click)="toggleDropdown($event)">
        <img id="menu" src="Menu.svg" alt="Menu del logo con dropdown">
      </a>
      }
      <div id="dropdownContent" class="dropdownContent" [class.show]="isDropdownVisible">
        <a href="#tecnicos">{{ 'itTeamOption' | translate}}</a>
        <a href="#historial">{{ 'recordOption' | translate}}</a>
      </div>
      <div>
        <a type="button" (click)="navigateToForm()">
            <img id="logo" src="Group 7.svg" alt="Logo de Luracare">
          </a>
      </div>
    </div>
    <div class="rightNav">
      <img id="userProfile" src="User_Circle.svg" alt="Perfil de usuario">
    </div>
  </nav>
</header>