:root {
  /* Size variables */
  --min-width: 280px;

  --section-padding: 7rem;
  --section-gap: 7rem;

  --border-radius-small: 0.7rem;
  --border-radius: 1rem;
  --border-radius-medium: 1.5rem;
  --border-radius-large: 2rem;
}
