:root {
  /* Font variables */
  --font-title: 'Comfortaa', sans-serif;
  --font-text: 'Poppins', sans-serif;
  --font-krypton: 'Krypton', sans-serif;
  --title-font-size: 3.6rem;
  --small-title-font-size: 3.1rem;
  --subtitle-font-size: 1.9rem;
  --font-size-text-large: 1.6rem;
  --font-size: 1.4rem;
  --font-size-small: 1rem;
}
