.icon_container {
  --color-background-icon-hover: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
  --color-background-icon-click: color-mix(in srgb, var(--color-on-surface) 20%, transparent);

  all: unset;
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  z-index: 1;

  &:hover {
    &:after {
      position: absolute;
      content: '';
      top: -50%;
      left: 0;
      width: 100%;
      height: 100%;
      translate: 0 50%;
      background-color: var(--color-background-icon-hover);
      scale: 1.7;
      border-radius: 100%;
      z-index: -1;
    }
  }

  &:active {
    &:after {
      background-color: var(--color-background-icon-click);
    }
  }
}
