:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.63rem;
  color: #1d154a;
  margin-bottom: 45px;
}

h3 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  color: #31347c;
  margin-bottom: 20px;
  align-self: start;
}

input {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
}

.detailedView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelAdmin {
  width: 335px;
}

.inputsAdmin {
  display: flex;
  flex-direction: column;
}

#workingStatusMobile {
  margin-bottom: 20px;
  width: 335px;
  height: 56px;
  font-family: "Comfortaa";
  font-weight: 800;
  font-style: normal;
  font-size: 0.88rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

#workingStatusNegative {
  display: none;
  margin-bottom: 20px;
  width: 335px;
  height: 56px;
  font-family: "Comfortaa";
  font-weight: 800;
  font-style: normal;
  font-size: 0.88rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #f24f4f;
  color: #ffffff;
}

#workingStatusPositive {
  display: none;
  margin-bottom: 20px;
  width: 335px;
  height: 56px;
  font-family: "Comfortaa";
  font-weight: 800;
  font-style: normal;
  font-size: 0.88rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #99fe75;
  color: #464646;
}

.disabled {
  background-color: #ed6d84;
  color: #ffffff;
}

.enabled {
  background-color: #99fe75;
  color: #464646;
}

img {
  width: 280px;
  height: 200px;
  border-radius: 15px;
}

.img-incident {
  display: none;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 335px;
  height: 240px;
}

#workInput {
  margin-top: 20px;
  font-family: "Comfortaa";
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  background-color: #ed6d84;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.63rem 1.25rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  input {
    font-size: 24px;
  }

  .incidentMessage {
    width: 710px;
    height: 200px;
  }
  .inputsAdmin {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .buttonsAdmin {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  #workingStatusMobile {
    display: none;
  }
  #workingStatusNegative {
    display: inline-block;
    margin-bottom: 20px;
    width: 335px;
    height: 56px;
    font-family: "Comfortaa";
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #f24f4f;
    color: #ffffff;
  }

  #workingStatusPositive {
    display: inline-block;
    margin-bottom: 20px;
    width: 335px;
    height: 56px;
    font-family: "Comfortaa";
    font-weight: 800;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #99fe75;
    color: #464646;
  }

  img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
  }

  .img-incident {
    display: inline-block;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #d9d9d9;
    width: 710px;
    height: 240px;
  }
}
