/* COMFORTAA */

@font-face {
  font-family: 'Comfortaa';
  src:
    local('Comfortaa'),
    url('/src/assets/fonts/Comfortaa-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src:
    local('Comfortaa'),
    url('/src/assets/fonts/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* POPPINS */

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Poppins'),
    url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* KRYPTON */

@font-face {
  font-family: 'Krypton';
  src:
    local('Krypton'),
    url('/src/assets/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf') format('truetype');
}
