.hover_surface {
  &:hover {
    background-color: color-mix(in srgb, var(--color-on-surface) 10%, transparent);
  }

  &:active {
    background-color: color-mix(in srgb, var(--color-on-surface) 20%, transparent);
  }
}

.hover_surface-standard-md {
  padding: 1.4rem 2.5rem;
  border-radius: 100rem;
  cursor: pointer;
}

/* Box Shadow */
.bs-1 {
  box-shadow:
    0 0.4rem 1rem color-mix(in srgb, var(--color-shadow) 10%, transparent),
    0 0.2rem 0.5rem color-mix(in srgb, var(--color-shadow) 15%, transparent);
}

.bs-2 {
  box-shadow:
    0 0.8rem 2rem color-mix(in srgb, var(--color-shadow) 10%, transparent),
    0 0.4rem 1rem color-mix(in srgb, var(--color-shadow) 15%, transparent);
}

.bs-3 {
  box-shadow:
    0 1.6rem 4rem color-mix(in srgb, var(--color-shadow) 10%, transparent),
    0 0.8rem 2rem color-mix(in srgb, var(--color-shadow) 15%, transparent);
}

/* Font Weight */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* Font Color */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  &.error_text {
    color: var(--color-error);
  }
}

.error_text {
  color: var(--color-error);
}
