:root {
  /* ######################## */
  /* Color pallette to use */
  /* ######################## */
  /* Primary & secondary */
  --color-primary: #575992;
  --color-on-primary: #ffffff;
  --color-primary-container: #e1e0ff;
  --color-on-primary-container: #12144b;
  --color-primary-variant: color-mix(in srgb, var(--color-primary), var(--color-black) 50%);
  --color-on-primary-variant: color-mix(in srgb, var(--color-on-primary), var(--color-white) 5%);
  --color-primary-container-variant: color-mix(
    in srgb,
    var(--color-primary-container),
    var(--color-black) 5%
  );
  --color-on-primary-container-variant: color-mix(
    in srgb,
    var(--color-white) 5%,
    var(--color-on-primary-container)
  );
  --color-secondary: #a5364e;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #fb788f;
  --color-on-secondary-container: #36000e;

  /* Disabled */
  --color-disabled: #e4e1e9;
  --color-on-disabled: #777680;

  /* Errors */
  --color-error: #b00020;
  --color-on-error: #ffffff;
  --color-error-container: #c61b2c;
  --color-on-error-container: #ffffff;

  /* Background */
  --color-background: #fcf8ff;
  --color-on-background: #1b1b21;

  /* Surface */
  --color-surface: #fcf8ff;
  --color-on-surface: #1b1b21;
  --color-surface-variant: #e4e1ec;
  --color-on-surface-variant: #46464f;
  --color-surface-dim: #dcd9e0;
  --color-surface-bright: #fcf8ff;
  --color-surface-container: #f0ecf4;
  --color-surface-container-high: #eae7ef;
  --color-surface-container-highest: #e4e1e9;
  --color-surface-container-low: #f6f2fa;
  --color-surface-container-lowest: #ffffff;

  --color-surface-1: color-mix(in srgb, var(--color-primary) 5%, var(--color-surface));
  --color-surface-2: color-mix(in srgb, var(--color-primary) 8%, var(--color-surface));
  --color-surface-3: color-mix(in srgb, var(--color-primary) 11%, var(--color-surface));
  --color-surface-4: color-mix(in srgb, var(--color-primary) 12%, var(--color-surface));
  --color-surface-5: color-mix(in srgb, var(--color-primary) 14%, var(--color-surface));

  /* Outline */
  --color-outline: #777680;
  --color-outline-variant: #c7c5d0;

  /* Decorators */
  --color-shadow: #000000;
  --color-scrim: #000000;

  /* Inverse colors */
  --color-inverse-surface: #303036;
  --color-on-inverse-surface: #f3eff7;
  --color-primary-inverse: #c0c1ff;

  /* Fixed colors */
  --color-primary-fixed: #e1e0ff;
  --color-on-primary-fixed: #12144b;
  --color-primary-fixed-dim: #c0c1ff;
  --color-on-primary-fixed-variant: #3f4178;
  --color-secondary-fixed: #ffd9dd;
  --color-on-secondary-fixed: #400012; /* here */
  --color-on-secondary-fixed-dim: #ffb2bc;
  --color-on-secondary-fixed-variant: #861e38;
}
