<div id="landingContainer">
  <div id="landingImage">
    <img src="ImgBrand.png" alt="Lunacare help desk">
  </div>
  <div id="landingForm">
    <div id="landingFormContent">
      <img src="Lunacare_logo.png" alt="Lunacare logo" id="logoImg">
      <h2>{{"helloMessage" | translate}}</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submit()"> <!--(ngSubmit)="submit()"-->
        <section>
          <mat-form-field appearance="fill">
            <mat-label>{{"emailInput" | translate}}</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">{{"emailIsMandatory" |
              translate}}</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">{{"emailIsNotValid" |
              translate}}</mat-error>
          </mat-form-field>
        </section>
        <section class="formField">
          <mat-form-field appearance="fill">
            <mat-label>{{"PasswordInput" | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">{{"passwordIsMandatory" |
              translate}}</mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">{{"passwordRequirement" |
              translate}}</mat-error>
          </mat-form-field>
        </section>
        <button mat-flat-button class="loginButton" color="primary" type="submit">{{"loginButton" | translate}}</button>
        <li class="loginList">{{"forgotPassword" | translate}}<a href="#" id="passwordLink"> {{"here" | translate}}</a>
        </li>
      </form>
    </div>
  </div>
  <app-language-button></app-language-button>
</div>