<div id="landingContainer">
    <div id="landingImage">
        <img src="ImgBrand.png" alt="Lunacare help desk">
    </div>  
    <div id="landingForm">
      <div id="landingFormContent">
        <img src="Lunacare_logo.png" alt="Lunacare logo" id="logoImg">
          <h2>¡Hola de nuevo!</h2>
          <form [formGroup]="loginForm" > <!--(ngSubmit)="submit()"-->
            <section>
              <mat-form-field appearance="fill">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="text" formControlName="email">
              </mat-form-field>
            </section>
            <section class="formField">
              <mat-form-field appearance="fill" >
                <mat-label >Contraseña</mat-label>
                <input matInput type="password" formControlName="password" >
              </mat-form-field>
            </section>
            <button mat-flat-button class="loginButton" color="primary" type="submit">Iniciar sesión</button>
            <li class="loginList">¿Has olvidado la contraseña? Entra<a href="#" id="passwordLink"> aquí</a></li>
          </form>
        </div>
    </div>
  </div>