<section class="pageContent">
  <div class="FormContainer">
    <h2 class="subtitle">{{ "userFormTitle" | translate }}</h2>

    <form class="TicketForm" [formGroup]="ticketsForm" (ngSubmit)="submit()">

      <div class="titleContainer">
        <div ngIf="incidenciaForm.get('title').invalid && incidenciaForm.get('title').touched"></div>
        <label for="title"></label>
        <input class="containerForm" id="title" type="text" formControlName="title"
          [placeholder]="'titlePlaceholder' | translate">
      </div>

      <div class="detailContainer">
        <label for="details"></label>
        <div ngIf="incidenciaForm.get('details').invalid && incidenciaForm.get('details').touched">
        </div>
        <textarea id="details" class="containerForm" formControlName="details"
          [placeholder]="'detailsPlaceholder' | translate"></textarea>
      </div>

      <p class="imgBox">{{ "imageAdvise" | translate }}</p>

      <div class="imgBox">
        <label for="img"></label>
        <input id="img" formControlName="img" type="file">
        <br>
      </div>

      <div class="workContainer">
        <p>{{ "motiveTitle" | translate }}</p>
        <mat-radio-group formControlName="motive" aria-label="Motivo">
          <mat-radio-button value="1" (click)="onMotiveClick('1')">{{ "reason1" | translate }}</mat-radio-button>
          <mat-radio-button value="2" (click)="onMotiveClick('2')">{{ "reason2" | translate }}</mat-radio-button>
          <mat-radio-button value="3" (click)="onMotiveClick('3')">{{ "reason3" | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>

      @if (technicalProblem == true){
      <div class="workContainer">
        <p>{{ "problem1" | translate }}</p>
        <mat-radio-group aria-label="¿Puede trabajar?">
          <mat-radio-button value="1">{{ "yes" | translate }}</mat-radio-button>
          <mat-radio-button value="2">{{ "no" | translate }}</mat-radio-button>
        </mat-radio-group>

        <p>{{ "problem2" | translate }}</p>
        <mat-radio-group aria-label="¿Es un problema recurrente?">
          <mat-radio-button value="1">{{ "yes" | translate }}</mat-radio-button>
          <mat-radio-button value="2">{{ "no" | translate }}</mat-radio-button>
        </mat-radio-group>

        <p>{{ "problem3" | translate }}</p>
        <mat-radio-group aria-label="¿Ha intentado solucionarlo?">
          <mat-radio-button value="1">{{ "yes" | translate }}</mat-radio-button>
          <mat-radio-button value="2">{{ "no" | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
      }
      <div class="btnContainer">
        <button type="submit" class="btn">{{ "sendButton" | translate }}</button>
      </div>
    </form>
  </div>
</section>