<section>
  <h2>{{'adminTableTitle' | translate}}</h2>
  <h3>{{'ticketNumber' | translate}} {{ rowData.TrackingId }}</h3>

  <form [formGroup]="adminForm" (ngSubmit)="submit()">
    <div class="inputContainer">
      <mat-form-field class="inputsDesign">
        <input class="textInput" [value]="rowData.Title" matInput disabled />
      </mat-form-field>

      <mat-form-field class="inputsDesign">
        <input class="textInput" type="email" matInput [value]="rowData.UserEmail" disabled />
      </mat-form-field>

      <div id="canWorkContainer">
        <button *ngIf="priority >= 8" id="cannotWorkButton" mat-flat-button disabled>{{'cannotWork' |
          translate}}</button>
        <button *ngIf="priority < 8" id="canWorkButton" mat-flat-button disabled>{{'canWork' | translate}}</button>
      </div>
    </div>

    <mat-form-field class="inputMessage">
      <textarea matInput [value]="rowData.Description" disabled></textarea>
    </mat-form-field>

    <div class="dropDownOptions">
      <mat-form-field>
        <mat-label>{{'itGuyDropdown' | translate}}</mat-label>
        <mat-select formControlName="itGuyInput" name="itGuy">
          @for (itGuy of itTeam; track $index) {
          <mat-option [value]="itGuy.ItGuyEmail">{{itGuy.ItGuyName}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'statusDropdown' | translate}}</mat-label>
        <mat-select formControlName="statusInput" name="status">
          @for (statusInfo of status; track $index) {
          <mat-option [value]="statusInfo.StatusValue">{{statusInfo.StatusValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field class="inputMessage">
      <mat-label>{{'feedbackInput' | translate}}</mat-label>
      <textarea matInput formControlName="feedbackInput"></textarea>
    </mat-form-field>
    <div class="sendButtonContainer">
      <button class="sendButton" type="submit" mat-flat-button>{{'sendButton' | translate}}</button>
    </div>
  </form>
</section>