<div class="container">
  <section class="containerUserPage">
    <div class="confirmationMessage">
      <p class="textMessage">
        <mat-icon>check</mat-icon>{{'ticketSent' | translate}}
      </p>
    </div>
    <p>
      {{'confirmationMessage1' | translate }}
    </p>
    <p>
      {{'confirmationMessage2' | translate }}
    </p>
    <p class="textBoldMessage">
      {{'confirmationMessage3' | translate }}
    </p>

    <button mat-button>{{'backButton' | translate }}</button>
  </section>
</div>