<div class="container">
  <section class="containerUserPage">
    <div class="confirmationMessage">
      <p class="textMessage">
        <mat-icon>check</mat-icon>Ticket enviado exitosamente.
      </p>
    </div>
    <p>
      Su solicitud quedará en “Pendiente” hasta que el equipo técnico reciba y
      comience a atender la incidencia.
    </p>
    <p>
      Una vez iniciada la resolución, su solicitud aparecerá como "En curso"
      hasta su finalización.
    </p>
    <p class="textBoldMessage">
      Gracias por su reporte y por contribuir a la mejora de nuestro servicio.
    </p>

    <button mat-button type="button" (click)="comeBack()">Volver al inicio</button>
  </section>
</div>
