.container {
  display: flex;
  justify-content: center;
  height: 85vh;
}

.containerAdminPage {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 10%;
}

.textMessage {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: #ed6d84;
  font-size: 1rem;
}

.mat-mdc-button:not(:disabled) {
  font-family: "Comfortaa";
  font-weight: 800;
  font-style: normal;
  font-size: 0.88rem;
  background-color: #ed6d84;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.63rem 1.25rem;
  &:hover {
    font-family: "Comfortaa";
    font-weight: 800;
    font-style: normal;
    font-size: 0.88rem;
    background-color: #ffffff;
    color: #ed6d84;
    border: #ed6d84 0.13rem solid;
  }
}

@media (min-width: 768px) {
  .textMessage {
    color: #ed6d84;
    font-weight: 400;
    font-size: 1.13rem;
  }

  .mat-mdc-button:not(:disabled) {
    font-family: "Comfortaa";
    font-weight: 800;
    font-style: normal;
    font-size: 1rem;
    background-color: #ed6d84;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.63rem 1.25rem;
    &:hover {
      font-family: "Comfortaa";
      font-weight: 800;
      font-style: normal;
      font-size: 1rem;
      background-color: #ffffff;
      color: #ed6d84;
      border: #ed6d84 0.13rem solid;
    }
  }
}

@media (min-width: 1024px) {
  .textMessage {
    color: #ed6d84;
    font-weight: 400;
    font-size: 1.38rem;
  }

  .mat-mdc-button:not(:disabled) {
    font-family: "Comfortaa";
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
    background-color: #ed6d84;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.63rem 1.25rem;
    &:hover {
      font-family: "Comfortaa";
      font-weight: 800;
      font-style: normal;
      font-size: 1.25rem;
      background-color: #ffffff;
      color: #ed6d84;
      border: #ed6d84 0.13rem solid;
    }
  }
}
